DATABASE_URL="postgresql://usuario:password@localhost:5432/sistema_evaluacion"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="reemplaza_esta_cadena_por_una_clave_larga_y_segura"

# Gestor de Horarios API Integration
GESTOR_API_URL="https://horarios.ddns.net/api/ext"
GESTOR_API_KEY="clave_secreta_aqui"
